.quiz {
    font-family: "Guardian Egyptian Web", "Guardian Text Egyptian Web", Georgia, serif;
    color: #767676;
}

.quiz__title {
    color: #333333; /* neutral-1 */
}

.quiz__question-text {
    color: #333333; /* neutral-1 */
}

.quiz__question-number {
    margin-right: 12px;
    font-size: 24px;
}

.quiz__answer {
    position: relative;
    cursor: pointer;
    color: #767676; /* neutral-2 */
    background-color: #f6f6f6; /* neutral-8 */
    padding: 12px 24px;
    margin-bottom: 12px;
}

.quiz__answer--correct {
    color: #333;
    background-color: #c6e8d0; /* ??? */
}

.quiz__answer--correct-chosen {
    background-color: #43B347; /* ??? */
    color: #ffffff;    
}

.quiz__answer--incorrect {
    background-color: #BB001A; /* ??? */
    color: #ffffff;
}

.quiz__answer__icon {
    position: absolute;
    left: 5px;
    top: 8px;
    font-size: 21px;
}